<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Quilt4">
      <section name="Quilt4Net" type="Quilt4Net.ConfigSection, Quilt4Net" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <Quilt4>
    <Quilt4Net Enabled="true" ProjectApiKey="H10A2NTI3YF0LIKFKS0FOFI9RJ4WN6Z9" UseBuildTime="true">
      <Session Environment="Test" />
      <Target Location="http://localhost:29660/" Timeout="60" />
      <!--<Target Location="http://ci.quilt4.com/develop/service/" Timeout="60"/>-->
      <!--<Target Location="http://service.quilt4.com/" Timeout="60"/>-->
    </Quilt4Net>
  </Quilt4>
</configuration>